.card {
  max-width: 282px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  margin: 0;
}

.card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px 0 20px;
}

.card__title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 25px 0;
}

.card__delete-button {
  background: transparent url("../images/trash.svg") center no-repeat;
  position: absolute;
  top: 23px;
  right: 16px;
  height: 20px;
  width: 20px;
  border: none;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.card__like-button {
  width: 21px;
  height: 19px;
  background-size: 21px 18px;
  border: none;
  background: transparent url("../images/like-button.svg") center no-repeat;
  padding: 0;
  transition: opacity 0.2s;
  flex-shrink: 0;
}

.card__like-button_active {
  background-image: url("../images/like-active.svg");
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
