.header {
  max-width: 880px;
  padding: 45px 0 0;
  border-bottom: 1px solid rgba(85, 85, 85, 0.6);
}

.header__logo {
  width: 173px;
  height: 33px;
  margin-bottom: 40px;
}

@media screen and (max-width: 938px) {
  .header {
    margin: 0 20px;
  }
}

@media screen and (max-width: 638px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
    margin-bottom: 30px;
  }

  .header {
    padding: 28px 0 0;
    margin: 0;
  }
}
