.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  visibility: hidden;
  display: flex;
  opacity: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  -moz-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: white;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  min-width: 430px;
  transition: 0.5s linear;
}

.modal__close {
  background-image: url("../images/close-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  position: absolute;
  background-color: transparent;
  height: 40px;
  width: 40px;
  top: -45px;
  right: -45px;
  transition: 0.3s linear;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal__heading {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 54px 0;
  transition: 0.5s linear;
}

.modal__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__form-input {
  margin: 0 0 0 0;
  padding-bottom: 11px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.modal__form-input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.modal__input_type_error {
  border-bottom: 1px solid red;
}

.modal__form-input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.modal__form-input-wrapper:last-of-type {
  margin-bottom: 0;
}

.modal__error_visible {
  position: absolute;
  top: 33px;
  color: red;
  max-width: 358px;
  font-family: "inter", sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.modal__save {
  margin: 48px 0 0 0;
  padding: 14px 0;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #000;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 21px;
  transition: 0.5s linear;
}

.modal__save:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Picture Popup Modal */

.modal__picture-container {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-height: 75vw;
  max-width: 75vw;
}

.modal__picture {
  max-height: 75vw;
  max-width: 75vw;
}

.modal__image-description {
  font-size: 12px;
  font-family: "inter", sans-serif;
  color: #fff;
  line-height: 14px;
  position: absolute;
  margin: 0;
  bottom: -25px;
}

@media screen and (max-width: 660px) {
  .modal__close {
    right: 0;
    height: 26px;
    width: 26px;
  }

  .modal__close_picture {
    right: -35px;
    top: -35px;
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 484px) {
  .modal__container {
    padding: 22px;
    min-width: 282px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 75px;
  }

  .modal__save {
    font-size: 14px;
    line-height: 16px;
    padding: 13px 0;
    margin-top: 45px;
  }
}
